# =========================
# URLs
# =========================
ADMIN_URL=http://125.235.38.229:8080/freso/admin/login
SELLER_URL=http://125.235.38.229:8080/freso/seller/login
BUYER_URL=http://125.235.38.229:8080/freso/buyer/dang-nhap

# =========================
# Admin Account
# =========================
ADMIN_USERNAME=
ADMIN_PASSWORD=

# =========================
# Seller Account
# =========================
SELLER_USERNAME=
SELLER_PASSWORD=
SELLER_CODE=

# =========================
# Buyer Account
# =========================
BUYER_USERNAME=
BUYER_EMAIL=
BUYER_PASSWORD=
